<main>
    <section class="menu_home">
       <h3 class="title-service">Service</h3>
       <div class="menu_home_content">
        <button class="btn btn-menu link-service" (click)="goDocumento()">Documento</button>
        <button class="btn btn-menu link-service" (click)="goContrato()">Contratos</button>
        <button class="btn btn-menu link-service" (click)="goResults()">Results</button>
       </div>
       <button class="btn btn-home link-service" (click)="goHome()">Home</button>
       <button class="btn link-service" (click)="goOut()">Sair</button>
   </section>

   <section class="menu_info">
    <form >
      <div class="login_form_container_label-input">
        <label for="">Informe o Numero do Contrato</label>
        <input type="text" placeholder="Login" formControlName="login">
    </div>
    <div class="login_form_container_label-input">
        <label for="">Informe a data</label>
        <input type="text" placeholder="Login" formControlName="login">
    </div>
    <div class="login_form_container_label-input">
        <label for="">Informe o nome do cliente</label>
        <input type="text" placeholder="Login" formControlName="login">
    </div>
    <div class="login_form_container_label-input">
        <label for="">Informe o valor do contrato</label>
        <input type="text" placeholder="Login" formControlName="login">
    </div>
    </form>
   </section>
</main>

