<div class="example-container">
    <form >
      <mat-form-field appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input matInput >
        <button mat-icon-button matSuffix ></button>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input matInput >
        <button mat-icon-button matSuffix ></button>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input matInput >
        <button mat-icon-button matSuffix ></button>
      </mat-form-field>
    </form>
  </div>