<main>
    <section class="menu_home">
       <h3 class="title-service">Service</h3>
       <div class="menu_home_content">
       </div>
   </section>

   <section class="menu_info">
       <div>
           <form [formGroup]="logdocumento">
               <div class="login_form_container_label-input">
                   <label for="">Informe o documento</label>
                   <input type="text" placeholder="documento" formControlName="documento">
                </div>
                <button (click)="send()">pesquisa</button>
            </form>
        </div>
        <div>
        <form>
            <div class="login_form_container_label-input">
                <label for="">Data encontrada do documento</label>
                <input type="text" placeholder="data" formControlName="data_documeto">
            </div>
            <div class="login_form_container_label-input">
                <label for="">Cliente vinculado ao documento</label>
                <input type="text" placeholder="nome do cliente" formControlName="nome_cliente">
            </div>
            <div class="login_form_container_label-input">
                <label for="">Valor vinculado ao documento</label>
                <input type="text" placeholder="valor" formControlName="valor_documento">
            </div>
        </form>
        </div>
   </section>
</main>

