main {
    display: flex;
    padding: 128px 0 0 185px;
}

.title-service {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    margin-left: 10px;
    margin-top: 30px;
}

.title-info {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    margin-left: 10px;
    margin-top: 30px;
}

.link-service {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}

.info {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
}

.text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 13px;
    line-height: 16px;
}

.menu_home {
    height: 628px;
    width: 203px;
    margin-right: 166px;
    background-color: #F9F1F1;
    border-radius: 50px;
}

.menu_home_content {
    display: flex;
    flex-direction: column;
    margin-top: 81px;
}

.menu_info {
    height: 628px;
    width: 337px;
    background-color: #F9F1F1;
    border-radius: 50px;
}

.btn-menu {
    margin-bottom: 30px;
    margin-left: 10px;
}

.btn-home {
    margin-top: 80px;
}
