<div class="login_form_container">
    <form class="login_form_container_form" [formGroup]="loginForm" (ngSubmit)="sendLogin2()">
        <div class="login_form_container_label-input">
            <label for="">login</label>
            <input type="text" placeholder="Login" formControlName="name">
        </div>
        <div class="login_form_container_label-input">
            <label for="">password</label>
            <input type="password" placeholder="password" formControlName="password">
        </div>
        <div class="login_form_container_label-input">
            <button type="submit"> Login </button>
        </div>
    </form>
</div>