.main { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &_title_form_container {
        height: 203px;
        width: 628px;
        margin-top: 110px;
        border-radius: 50px;
        background-color: #F9F1F1;
        &_title {
            margin-top: 80px;
            text-align: center;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 32px;
            line-height: 39px;
        }
    }
    &_login_form_container {
        height: 318px;
        width: 430px;
        margin-top: 160px;
        border-radius: 50px;
        background-color: #F9F1F1;
        display: flex;
        align-items: center;
        justify-content: center; 
    }
}

