main {
    display: flex;
    padding: 128px 0 0 185px;
}

.title-service {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
}

.title-info {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
}

.link-service {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}

.info {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
}

.text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 13px;
    line-height: 16px;
}

.menu_home {
    height: 628px;
    width: 203px;
    margin-right: 166px;
    background-color: #F9F1F1;
    border-radius: 50px;
}

.menu_home_content {

}

.menu_info {
    height: 660px;
    width: 666px;
    background-color: #F9F1F1;
    border-radius: 50px;
}

.menu_info_content {

}

.other {
    width: 567px;
    height: 438px;
    background-color: #EFCCCC;
    border-radius: 30px;
}