<main>
     <section class="menu_home">
        <h3 class="title-service">Service</h3>
        <div class="menu_home_content">
            <button class="btn btn-menu link-service" (click)="goDocumento()">Documento</button>
            <button class="btn btn-menu link-service" (click)="goContrato()">Contratos</button>
            <button class="btn btn-menu link-service" (click)="goResults()">Results</button>
        </div>
        <button class="btn btn-home link-service" (click)="goHome()">Home</button>
        <button class="btn link-service" (click)="goOut()">Sair</button>
    </section>

    <section class="menu_info">
        <h3 class="title-info">Aplicação para estudo</h3>
        <div class="menu_info_content">
            <p class="info">essa aplicação tem as seguintes funcionalidades!</p>
            <p class="text">Realização de Login:</p>
            <p class="text">Realização de cadastro de contratos:</p>
            <p class="text">Realização de consulta de documentos:</p>
            <p class="text">Em results podemos ver os dados do back end:</p>
        </div>
    </section>
</main>

