<main>
     <section class="menu_home">
        <h3 class="title-service">Service</h3>
        <div class="menu_home_content">
            <!--<a href="">Contratos</a>-->
           <!--<a href="">Documento</a>-->
            <!--<a href="">Results</a>-->
            <a class="link-service" >ttttt</a>
        </div>
    </section>

    <section class="menu_info">
        <h3 class="title-info">Aplicação para estudo</h3>
        <div class="menu_info_content">
            <p class="info">essa aplicação tem as seguintes funcionalidades!</p>
            <p class="text">Realização de Login:</p>
            <p class="text">Realização de cadastro de contratos:</p>
            <p class="text">Realização de consulta de documentos:</p>
            <p class="text">Em results podemos ver os dados do back end:</p>
        </div>
    </section>
</main>

